<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "itk.izhdvorec.ru.app"
        versionCode = "10"
        version     = "1.4.0">

    <name>ТЕСТ. ITK</name>

    <description>
        Приложение предназначено для участников проекта "Инженерно-технологические классы"
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/7f69b3986e37b9470b360263e9abfcc5.png" density="ldpi" />
        <icon src="res/android/icon/f3a8698060b0b76157fd21f536d5fe83.png" density="mdpi" />
        <icon src="res/android/icon/983c269aae26dc1be1327ce24cf0dccd.png" density="hdpi" />
        <icon src="res/android/icon/bdb6022bb00cb2bec0bb0f3eb8717046.png" density="xhdpi" />
        <icon src="res/android/icon/acce2bd307099df08485c3323234ff23.png" density="xxhdpi" />
        <icon src="res/android/icon/3a765cd3dba1524c9730813ac5e84cda.png" density="xxxhdpi" />

        <splash src="res/android/screen/635d91dd378ca8c20b0f35d14d98eaf7.png" density="port-hdpi"/>
        <splash src="res/android/screen/29299e883e8fad51fa9487c90adfcf5c.png" density="port-ldpi"/>
        <splash src="res/android/screen/b8b208d1448af0796ab3dd1af212c4c6.png" density="port-mdpi"/>
        <splash src="res/android/screen/47c9bd0a5d431e7e7cb33e179f068093.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/219328e7a106e376e35eaa78ea8f6296.png" width="180" height="180" />
        <icon src="res/ios/icon/af998422734c1d730c20b9cfd5b617e6.png" width="60" height="60" />
        <icon src="res/ios/icon/70816350e8d0e6200baefdaa84055b7e.png" width="120" height="120" />
        <icon src="res/ios/icon/97a378c00ed5e7ddfffeef97401d308f.png" width="76" height="76" />
        <icon src="res/ios/icon/df533dd598cff22905122e64413a35fd.png" width="152" height="152" />
        <icon src="res/ios/icon/801aaaefff40282f4b1754da3feb3d45.png" width="57" height="57" />
        <icon src="res/ios/icon/302844f9740fd63bcbde583118425c19.png" width="114" height="114" />
        <icon src="res/ios/icon/9f9ddb5ceb17ee96a0a9f1470fb98106.png" width="72" height="72" />
        <icon src="res/ios/icon/0f86928b8eb3bde64043d23bcbe927a3.png" width="144" height="144" />
        <icon src="res/ios/icon/d6cd89122f3f7cb53d204f38076ad092.png" width="167" height="167" />
        <icon src="res/ios/icon/aa5f101d432b463c7bcbf15e03a47226.png" width="29" height="29" />
        <icon src="res/ios/icon/6649f3f9c71bc82aaa8ad534f5fd5274.png" width="58" height="58" />
        <icon src="res/ios/icon/3374e9a4179e683336413be002f31967.png" width="87" height="87" />
        <icon src="res/ios/icon/c92d38328fa5ea3baa59fc28438b3725.png" width="167" height="167" />

        <splash src="res/ios/screen/fea46468b1f116ed83efd89125ee56a5.png" />
        <splash src="res/ios/screen/5f189708dddd90c2c8ccc4a5d24c2843.png" />
        <splash src="res/ios/screen/21999fb5b67e3a026222980ea6c1933d.png" />
        <splash src="res/ios/screen/5c10dcf72298fd6067ba68be5703d148.png" />
        <splash src="res/ios/screen/e210a055993858d15fc367e9163ae3af.png" />
        <splash src="res/ios/screen/3c50170e68004e5af370ae3905e4e468.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/0eeaa09e8f7061a6e8b75d3f281a5f77.png" target="StoreLogo" />
        <icon src="res/windows/icon/e9cf53d5a1801d23d227aca79fee83e8.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/c5e9203b9f33451b4a555bca8c901148.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/9dec68c3c4bdfba9d97215adc07745a4.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/978d149f65e42f37894e567f5305fab9.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/42fc7d056065dd88efc3438cfe46ef3b.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/12907d540be2a949125245de5f11d221.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/afd969257f4046781297dcd911806c8a.png" target="SplashScreen"/>
        <splash src="res/windows/screen/683ef497fac06869559ce31d00dfc627.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>